<div class="container-fluid bcontent">
    <form action="../pasta/crearPasta.jsp" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label for="text">Nombre de Pasta</label>
            <input type="text" class="form-control" id="name" name="name" placeholder="Ingrese nombre">
        </div>
        <div class="form-group">
            <label for="text">Descripcion</label>
            <textarea class="form-control" id="desc" name="desc" placeholder="Ingrese Descripcion" rows="4"></textarea>
        </div>
        <div class="form-group">
            <label for="text">Precio</label>
            <div class="input-group">
                <span class="input-group-addon">$</span>
                <input class="form-control" type="text" id="pre" name="pre" placeholder="Ingrese Precio">
                <span class="input-group-addon">.00</span>
            </div>
        </div>
        <div class="form-group">
            <label for="fileupload">Imagen</label>
            <input type="file" class="form-control-file" id="img" name="img">
        </div>
        <button type="submit" class="btn btn-primary">Crear</button>
        <a href="../Dashboard/element-pasta.jsp" role="button" class="btn btn-primary"> <span>Volver</span></a>
    </form>
</div>